  <!-- Interesses-->
  <section class="resume-section" id="hobbies">
    <div class="resume-section-content">
        <h2 class="mb-5">Hobbies</h2>
        <p>Além de desenvolver, passo grande parte do meu tempo estudando, descobrindo novidades, me aprimorando. Gosto também de sair com amigos e familiares, conhecer novas pessoas e descobrir novos lugares.</p>
        <p class="mb-0">Quando estou em casa, gosto de assistir filmes, séries e animes, e principalmente jogar com os amigos. E passo grande parte do meu tempo livre explorando os avanços da tecnologia no mundo do hardware, desenvolvimento e inteligência artificial.</p>
    </div>
</section>
<hr class="m-0" />
