  <!-- Sobre-->
  <section class="resume-section" id="sobre">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Bruno
            <span class="text-primary">E. Silva</span>
        </h1>
        <div class="subheading mb-5">
            Guarulhos/SP <br>(11) 94624-9658 ·
            <a href="mailto:bruno.esilva@gmail.com">bruno.esilva@gmail.com</a>
        </div>
        <p class="lead mb-2">Sou estudante de programação e formando em Engenharia de Computação. Dedicado, curioso e comunicativo, busco sempre aprender e inovar.</p>
        <p class="lead mb-5">Participando do projeto Código do Futuro desenvolvido pelas empresas Febrafar/Farmarcas em parceria com a GAMA Academy.</p>
        <br><br>
        <p class="lead mb-5">Agradecimento especial ao professor <a class="agradecimento" href="https://www.torneseumprogramador.com.br/">Danilo Aparecido</a> pela mentoria no projeto.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/brunoernandesdasilva/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/BESystemInfo"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.facebook.com/Bernandesilva"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
