  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Linguagens de Programação & Ferramentas</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="devicons devicons-html5"></i></li>
            <li class="list-inline-item"><i class="devicons devicons-css3"></i></li>
            <li class="list-inline-item"><i class="devicons devicons-javascript_shield"></i></li>
            <li class="list-inline-item"><i class="devicons devicons-angular"></i></li>
            <li class="list-inline-item"><i class="devicons devicons-dotnet"></i></li>
            <li class="list-inline-item"><i class="devicons devicons-github_badge"></i></li>
            
        </ul>
        <div class="subheading mb-3">Habilidades</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desenvolvimento Web
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Lógica de Programação
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desenvolvimento com Angular
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />