  <!-- Experiências-->
  <section class="resume-section" id="experiencias">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiências</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Técnico de Informática</h3>
                <div class="subheading mb-3">Instituto Gerir</div>
                <p>Suporte ao usuário. Treinamento de novos funcionários na utilização dos sistemas internos. Gerenciamento dos backups. Contato e acompanhamento com fornecedores.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2018 - Ago 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Analista de Suporte Júnior</h3>
                <div class="subheading mb-3">Stefanini Consultoria e Assessoria em Informática</div>
                <p>(Alocado no cliente FedEx Brasil - Guarulhos)</p>
                <p>Suporte ao usuário. Manutenção dos computadores e impressoras. Suporte aos clientes internos. Participação em projetos internos de melhorias.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jul 2017 - Jul 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Técnico de Suporte Júnior</h3>
                <div class="subheading mb-3">BRQ IT Services</div>
                <p>(Alocado no cliente FedEx Brasil - Guarulhos)</p>
                <p>Suporte ao usuário. Manutenção dos computadores e impressoras. Suporte aos clientes internos. Participação em projetos internos de melhorias.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Fev 2014 - Jul 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Técnico de Informática</h3>
                <div class="subheading mb-3">Info Energy Serviços de Informática e Eletrônica</div>
                <p>Montagem e manutenção de computadores. Suporte ao usuário. Atendimento in loco e remoto.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jun 2012 - Ago 2013</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
              <h3 class="mb-0">Auxiliar em Tecnologia da Informação</h3>
              <div class="subheading mb-3">Brasterápica Indústria Farmacêutica Ltda.</div>
              <p>Suporte ao usuário. Gerenciamento de Backups. Manutenção dos computadores. Gerenciamento do Servidor. Atualizações no portal.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Mar 2005 - Jan 2007</span></div>
      </div>
    </div>
</section>
<hr class="m-0" />
