  <!-- Formação-->
  <section class="resume-section" id="formacao">
    <div class="resume-section-content">
        <h2 class="mb-5">Formação</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">UNIVESP - Universidade Virtual do Estado de São Paulo</h3>
                <div class="subheading mb-3">Bacharel em Engenharia de Computação</div>
                <div>Engenharia de Computação</div>
                <p>Situação: Cursando</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Fev 2018 - Dez 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">E. E. José da Costa Boucinhas</h3>
                <div class="subheading mb-3">Ensino Médio</div>
                <p>Situação: Completo</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Jan 2003 - Dez 2005</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
