    <!-- Outros Cursos-->
    <section class="resume-section" id="cursos">
      <div class="resume-section-content">
          <h2 class="mb-5">Outros Cursos</h2>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  HTML e CSS na Prática - Fundação Bradesco
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  HTML5 e CSS3 - Alura
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Metodologias Ágeis - GAMA Academy
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Desenvolvimento Web - Via Rápida
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Banco de Dados - Via Rápida
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Introdução à Programação com Python - Kenzie Academy
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Hardware e Informática Básica - Cenapi Guarulhos
              </li>
              <li>
                <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                Lógica de Programação I: Os primeiros programas com Javascript e HTML - Alura
            </li>
          </ul>
      </div>
  </section>
  <hr class="m-0" />
