<div class="container-fluid p-0">
  <!-- Sobre-->
  <section class="resume-section" id="about">
      <div class="resume-section-content">
          <h1 class="mb-0">
              Bruno
              <span class="text-primary">E. Silva</span>
          </h1>
          <div class="subheading mb-5">
              Guarulhos/SP <br>(11) 94624-9658 ·
              <a href="mailto:bruno.esilva@gmail.com">bruno.esilva@gmail.com</a>
          </div>
          <p class="lead mb-5">Sou estudante de programação e formando em Engenharia de Computação. Dedicado, curioso e comunicativo, busco sempre aprender e inovar.</p>
          <div class="social-icons">
              <a class="social-icon" href="https://www.linkedin.com/in/brunoernandesdasilva/"><i class="fab fa-linkedin-in"></i></a>
              <a class="social-icon" href="https://github.com/BESystemInfo"><i class="fab fa-github"></i></a>
              <a class="social-icon" href="https://www.facebook.com/Bernandesilva"><i class="fab fa-facebook-f"></i></a>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Experiências-->
  <section class="resume-section" id="experience">
      <div class="resume-section-content">
          <h2 class="mb-5">Experiências</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Técnico de Informática</h3>
                  <div class="subheading mb-3">Instituto Gerir</div>
                  <p>Suporte ao usuário. Treinamento de novos funcionários na utilização dos sistemas internos. Gerenciamento dos backups. Contato e acompanhamento com fornecedores.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Jul 2018 - Ago 2018</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Analista de Suporte Júnior</h3>
                  <div class="subheading mb-3">Stefanini Consultoria e Assessoria em Informática</div>
                  <p>(Alocado no cliente FedEx Brasil - Guarulhos)</p>
                  <p>Suporte ao usuário. Manutenção dos computadores e impressoras. Suporte aos clientes internos. Participação em projetos internos de melhorias.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Jul 2017 - Jul 2018</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Técnico de Suporte Júnior</h3>
                  <div class="subheading mb-3">BRQ IT Services</div>
                  <p>(Alocado no cliente FedEx Brasil - Guarulhos)</p>
                  <p>Suporte ao usuário. Manutenção dos computadores e impressoras. Suporte aos clientes internos. Participação em projetos internos de melhorias.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Fev 2014 - Jul 2017</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <h3 class="mb-0">Técnico de Informática</h3>
                  <div class="subheading mb-3">Info Energy Serviços de Informática e Eletrônica</div>
                  <p>Montagem e manutenção de computadores. Suporte ao usuário. Atendimento in loco e remoto.</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Jun 2012 - Ago 2013</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Auxiliar em Tecnologia da Informação</h3>
                <div class="subheading mb-3">Brasterápica Indústria Farmacêutica Ltda.</div>
                <p>Suporte ao usuário. Gerenciamento de Backups. Manutenção dos computadores. Gerenciamento do Servidor. Atualizações no portal.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Mar 2005 - Jan 2007</span></div>
        </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Formação-->
  <section class="resume-section" id="education">
      <div class="resume-section-content">
          <h2 class="mb-5">Formação</h2>
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">UNIVESP - Universidade Virtual do Estado de São Paulo</h3>
                  <div class="subheading mb-3">Bacharel em Engenharia de Computação</div>
                  <div>Engenharia de Computação</div>
                  <p>Situação: Cursando</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Fev 2018 - Dez 2022</span></div>
          </div>
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <div class="flex-grow-1">
                  <h3 class="mb-0">E. E. José da Costa Boucinhas</h3>
                  <div class="subheading mb-3">Ensino Médio</div>
                  <p>Situação: Completo</p>
              </div>
              <div class="flex-shrink-0"><span class="text-primary">Jan 2003 - Dez 2005</span></div>
          </div>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
      <div class="resume-section-content">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading mb-3">Linguagens de Programação & Ferramentas</div>
          <ul class="list-inline dev-icons">
              <li class="list-inline-item"><i class="devicons devicons-html5"></i></li>
              <li class="list-inline-item"><i class="devicons devicons-css3"></i></li>
              <li class="list-inline-item"><i class="devicons devicons-javascript_shield"></i></li>
              <li class="list-inline-item"><i class="devicons devicons-angular"></i></li>
              <li class="list-inline-item"><i class="devicons devicons-dotnet"></i></li>
              <li class="list-inline-item"><i class="devicons devicons-github_badge"></i></li>
              
          </ul>
          <div class="subheading mb-3">Habilidades</div>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Desenvolvimento Web
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Lógica de Programação
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Desenvolvimento com Angular
              </li>
              <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>
                  Agile Development & Scrum
              </li>
          </ul>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Interesses-->
  <section class="resume-section" id="interests">
      <div class="resume-section-content">
          <h2 class="mb-5">Hobbies</h2>
          <p>Além de desenvolver, passo grande parte do meu tempo estudando, descobrindo novidades, me aprimorando. Gosto também de sair com amigos e familiares, conhecer novas pessoas e descobrir novos lugares.</p>
          <p class="mb-0">Quando estou em casa, gosto de assistir filmes, séries e animes, e principalmente jogar com os amigos. E passo grande parte do meu tempo livre explorando os avanços da tecnologia no mundo do hardware, desenvolvimento e inteligência artificial.</p>
      </div>
  </section>
  <hr class="m-0" />
    <!-- Outros Cursos-->
    <section class="resume-section" id="curses">
      <div class="resume-section-content">
          <h2 class="mb-5">Outros Cursos</h2>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  HTML e CSS na Prática - Fundação Bradesco
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  HTML5 e CSS3 - Alura
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Metodologias Ágeis - GAMA Academy
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Desenvolvimento Web - Via Rápida
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Banco de Dados - Via Rápida
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Introdução à Programação com Python - Kenzie Academy
              </li>
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                  Hardware e Informática Básica - Cenapi Guarulhos
              </li>
              <li>
                <span class="fa-li"><i class="fa-sharp fa-solid fa-graduation-cap"></i></span>
                Lógica de Programação I: Os primeiros programas com Javascript e HTML - Alura
            </li>
          </ul>
      </div>
  </section>
  <hr class="m-0" />
  <!-- Certificações-->
  <section class="resume-section" id="awards">
      <div class="resume-section-content">
          <h2 class="mb-5">Certificações</h2>
          <ul class="fa-ul mb-0">
              <li>
                  <span class="fa-li"><i class="fa-sharp fa-solid fa-award"></i></span>
                  Scrum Foundation Professional Certificate (SFCP) - Certiproof (Jul 2019)
              </li>
          </ul>
      </div>
  </section>
</div>